@model Epam_MVC4.Models.HomeViewModel

<form id="form-quotes" class="form-horizontal" method="get" action="@Url.Action("Index", "Home", Model)">
    <div class="form-group">
        @Html.LabelFor(x => Model.StartDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-2">
            @Html.EditorFor(x => Model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(x => Model.EndDate, new { @class = "col-sm-1 text-center control-label" })
        <div class="col-sm-2">
            @Html.EditorFor(x => Model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        @Html.LabelFor(x => Model.ProviderName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(x => Model.ProviderName, new SelectList(Model.DataProviders.Select(x => x.Name).Distinct().ToList()),
                                new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => Model.Query, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-7">
            @Html.EditorFor(x => Model.Query, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-sm-3">
            <input id="btn-search" class="btn btn-primary btn-block" type="submit" name="button" action="@Url.Action("GetQuotes", "Home")" value="Search" />
        </div>
    </div>
</form>
<img id="ajax-wait" src="~/Content/images/275.gif" style="display:none" />

<div id="table" class="container">
    <!--mst-tamplate-table-->
</div>

<script id="mst-template-table" type="text/html">
    {{#ShowTable}}
    <table id="mst-table-data" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Open
                </th>
                <th>
                    Low
                </th>
                <th>
                    High
                </th>
                <th>
                    Close
                </th>
                <th>
                    Volume
                </th>
            </tr>
        </thead>
        <tbody>
            {{#Data}}
            <tr>
                <td align="left">
                    {{TradeDate}}
                </td>
                <td align="left">
                    {{Open}}
                </td>
                <td align="left">
                    {{Low}}
                </td>
                <td align="left">
                    {{High}}
                </td>
                <td align="left">
                    {{Close}}
                </td>
                <td align="left">
                    {{Volume}}
                </td>
            </tr>
            {{/Data}}
        </tbody>
    </table>
    <div class="btn-group" role="group" aria-label="...">
        {{#Exports}}
        <button type="button" class="btn btn-default export-btn" value="{{Id}}" name="SelectedFormat" action="@Url.Action("Export", "Home")">Export to: {{Name}}</button>
        {{/Exports}}
    </div>
    {{/ShowTable}}
</script>